body {
  margin: 0;
  font-family: 'Source Code Pro', 'Courier', monospace;
}

.container {
  padding: 0.5em 1em;
}

header {
  display: flex;
  background-color: rgb(35, 9, 198);
  color: white;
}

header h1 {
  margin: 0;
}

form#loader {
  background-color: rgb(54, 165, 253);
}

input[name="url"] {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 1em;
}

input[name="url"]::-webkit-input-placeholder { 
  color: rgb(159, 212, 255);
}
input[name="url"]:-moz-placeholder { 
  /* Firefox 18- */ 
  color: rgb(159, 212, 255);
}
input[name="url"]::-moz-placeholder { 
  /* Firefox 19+ */ 
  color: rgb(159, 212, 255);
}
input[name="url"]:-ms-input-placeholder { 
  color: rgb(159, 212, 255);
}

ol, ul {
  padding-left: 1.5em;
  margin: 0;
}

pre, .pre {
  font-family: monospace;
}

#results:before, #results:after {
  display: block;
}
#results:before {
  content: '{';
}
#results:after {
  content: '}';
}

#results li {
  border-left: 1px dashed gray;
  text-indent: -9px;
  list-style: none;
}

#results input ~ ol {
  max-height: 0;
}

#results input:checked ~ ol {
  max-height: 100em;
}

.w-50 {
  width: 50%;
}

.flexbox {
  display: flex;
}

.space-between {
  justify-content: space-between;
}